node_modules
dist
dist-ssr
*.local
package-lock.json
k8s
.gitlab/merge_request_templates

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
