.root {
  display: block;
}

.image {
  display: block;
  block-size: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.fallback {
  display: block;
  block-size: 100%;
  border-radius: inherit;
  background-color: var(--background-4);
}
