.label {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  position: relative;
}

.input {
  display: flex;
  align-items: center;
  min-block-size: 48px;
  border: var(--border-1) solid var(--border-color-2);
  border-radius: var(--radius-24);
  padding-inline: var(--space-16);

  &:focus-within {
    border: var(--border-2) solid var(--primary);
  }
}

.control {
  position: absolute;
  caret-color: var(--primary);
  inset-block: 32px 0;
  inset-inline: 16px 0;
  background-color: transparent;
  padding-inline-end: var(--space-24);
  outline: none;
}

.invalid {
  border-color: var(--error);
}

.disabled {
  opacity: 0.4;
}

.icon {
  position: absolute;
  inset-inline-end: var(--space-16);
  inline-size: 24px;
}
