.iconButton {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    color 150ms,
    background-color 150ms;
  inline-size: var(--space-36);
  block-size: var(--space-36);
  border-radius: 50%;

  &:disabled {
    opacity: 0.4;
    cursor: auto;
  }
}

.iconButton svg {
  display: block;
  stroke: currentcolor;
  flex-shrink: 0;
  inline-size: 66.6%;
  block-size: 66.6%;
}

.primary {
  background-color: var(--purple-500);
  color: var(--white);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: var(--purple-400);
    }
  }

  &:active:not(:disabled) {
    background-color: var(--purple-600);
  }
}

.secondary {
  background-color: var(--purple-25);
  color: var(--purple-500);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: var(--purple-50);
      color: var(--purple-600);
    }
  }

  &:active:not(:disabled) {
    background-color: var(--purple-25);
  }
}

.whitePrimary {
  background-color: var(--white);
  color: var(--purple-500);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: var(--purple-50);
      color: var(--purple-600);
    }
  }

  &:active:not(:disabled) {
    background-color: var(--purple-25);
  }
}

.white {
  background-color: var(--white);
  color: var(--black);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: hsl(from var(--white) h s l / 10%);
      backdrop-filter: blur(64px);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--white) h s l / 30%);
    backdrop-filter: blur(64px);
  }
}

.gray {
  background-color: var(--base-50);
  color: var(--black);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: hsl(from var(--base-200) h s l / 50%);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--base-200) h s l / 65%);
  }
}

.transparentPrimary {
  background-color: transparent;
  color: var(--purple-500);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: hsl(from var(--white) h s l / 10%);
      color: var(--purple-600);
      backdrop-filter: blur(64px);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--white) h s l / 30%);
    color: var(--purple-500);
    backdrop-filter: blur(64px);
  }
}

.transparentGray {
  background-color: transparent;
  color: var(--black);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: hsl(from var(--white) h s l / 10%);
      color: var(--base-900);
      backdrop-filter: blur(64px);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--white) h s l / 30%);
    color: var(--black);
  }
}

.transparentWhite {
  background-color: transparent;
  color: var(--white);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: hsl(from var(--white) h s l / 10%);
      backdrop-filter: blur(64px);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--white) h s l / 30%);
    backdrop-filter: blur(64px);
  }
}

.semiGray {
  background-color: var(--base-500);
  color: var(--white);
  backdrop-filter: blur(64px);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: hsl(from var(--base-500) h s l / 50%);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--base-500) h s l / 65%);
  }
}

.semiWhite {
  background-color: hsl(from var(--purple-500) h s l / 12%);
  color: var(--purple-500);
  backdrop-filter: blur(64px);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: hsl(from var(--purple-500) h s l / 20%);
    }
  }

  &:active:not(:disabled) {
    background-color: hsl(from var(--purple-500) h s l / 24%);
  }
}

.xs {
  inline-size: var(--space-28);
  block-size: var(--space-20);
  border-radius: var(--radius-20);
}

.sm,
.md,
.lg,
.xl,
.xxl {
  border-radius: 50%;
}

.sm {
  inline-size: var(--space-32);
  block-size: var(--space-32);
}

.md {
  inline-size: var(--space-36);
  block-size: var(--space-36);
}

.lg {
  inline-size: var(--space-44);
  block-size: var(--space-44);
}

.xl {
  inline-size: var(--space-48);
  block-size: var(--space-48);
}

.xxl {
  inline-size: var(--space-56);
  block-size: var(--space-56);
}
